@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikRegular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-blue-color: #2091F9;
    --white-color: #FFFFFF;
    --primary-gray-color: #252B42;
    --secondary-gray-color: #374754;
    --primary-bg-gray: #F4F4F4;
    --input-text-color: #18171D;
    --border-color: #D8D8D8;
    --border-pricing-item-color: #DEDEDE;
    --shadow-pricing-item: rgba(0, 0, 0, 0.25);
    --border-contacts-form: #DDDDDD;
    --shadow-contacts-form: rgba(0, 0, 0, 0.07);
    --contacts-form-input-bg: #F5F5F5;
    --border-form-color: #E8E8E8;
}

img {
    display: block;
    width: 100%;
}


body {
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* .icon {} */

.section {
    padding: 50px 0;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.button {
    background-color: var(--primary-blue-color);
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 16px 62px;
    cursor: pointer;

    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

/* header */
.header-wrap {
    background-image: url(images/main-bg-picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding: 55px 0;
}

.navigation__list {
    display: flex;
    gap: 21px;
}

.navigation__list-item {
    font-size: 15px;
    line-height: 1.8667;
    letter-spacing: 0.2px;
    color: var(--white-color);
    padding: 10px;
}

.navigation__item:last-child {
    margin-right: 5px;
}

.logo {
    margin: 0 265px 0 0px;
}

.header__social {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__social-link {
    display: block;
}

.header__social-icon {
    fill: var(--white-color);
}

/* hero */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 245px 0;
}

.hero-container {
    max-width: 765px;
    margin: auto;
}

.hero__title {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.1351;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 17px;
}

.hero__undertitle {
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 80px;
}

/* features */

.features-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-title__wrap {
    max-width: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.features__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 17px;
}

.features__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
}

.features__list {
    display: flex;
    gap: 52px;
    margin-bottom: 80px;
}

.features__list-item {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.features__item-icon {
    fill: var(--primary-blue-color);
}

.features__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
}

.features__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3888;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
}

.video-section {
    position: relative;
}

.video-section__video {
    width: 100%;
    height: 100%;
}

.video-section__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 188px;
}

/* fastest way to organize */

.organize-container {
    display: flex;
}

.organize-section__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 520px;
}

.organize-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
}

.organize-section__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    margin-top: 7px;
    margin-bottom: 70px;
}

.organize-section__image {
    max-width: 480px;
}

/* Lightning fast prototyping */

.prototyping-section {
    display: flex;
    gap: 113px;
}

.prototyping-section img {
    max-width: 514px;
}

.prototyping-section__pretitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
    margin-bottom: 17px;
}

.prototyping-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 35px;
}

.prototyping-section__undertitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3888;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    margin-bottom: 36px;
}

.prototyping-form {
    display: flex;
}

.prototyping-form input {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.1px;
    color: var(--input-text-color);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 39px;
    background: var(--primary-bg-gray);
    border: 1px solid var(--border-form-color);
    border-radius: 39px;
    min-width: 273px;
    outline: none;
    margin-right: 12px;
}

.prototyping-form input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.1px;
    color: var(--input-text-color);
}

/* partners */

.container-section {
    display: flex;
    flex-direction: column;
}

.partners-section__title-wrap {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: auto;
}

.partners-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 27px;
}

.partners-section__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    margin-bottom: 90px;
}

.partners-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-bottom: 80px;
}

.partners-section__item {
    padding: 20px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-section__button {
    margin: auto;
}

/* testimonials */

.testimonials-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 987px;
    margin: auto;
}

.testimonials-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 90px;
}

.testimonials-section__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    margin-top: 50px;
    margin-bottom: 60px;
}

.testimonials-section__comments-wrap {
    display: flex;
    margin-bottom: 80px;
}

.testimonials-section__comments-text-wrap {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials-section__comments-text-wrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.testimonials-section__comments-text-wrap p:last-of-type {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8666;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
}

.testimonials-button {
    margin: auto;
}

/* pricing */

.pricing-section {
    background-color: var(--primary-gray-color);
}

.pricing-container__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 27px;
}

.pricing-container__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 552px;
    margin-bottom: 90px;
}

.pricing-container__list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.pricing-container__item {
    background: var(--white-color);
    border: 1px solid var(--border-pricing-item-color);
    box-shadow: 0px 4px 4px var(--shadow-pricing-item);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.pricing-container__item>p:first-of-type {
    max-width: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.pricing-container__item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
    margin-bottom: 3px;
}

.pricing-container__digit-section {
    display: flex;
    margin-bottom: 40px;
}

.pricing-container__item-digit {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.1351;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-right: 10px;
}

.pricing-container__digit-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-container__digit-section-text p:first-of-type {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
}

.pricing-container__features-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

/* contact us */

.contacts-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    text-align: center;
    margin-bottom: 27px;
}

.contacts-section__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    width: 532px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

/* form */

.contacts-section__form-map-wrap {
    display: flex;
    gap: 50px;
}

.contacts-section__form {
    display: flex;
    flex-direction: column;
    padding: 52px 50px;
    gap: 45px;
    background: var(--white-color);
    border: 1px solid var(--border-contacts-form);
    box-shadow: 0px 13px 19px var(--shadow-contacts-form);
    border-radius: 20px;
    width: 453px;
}

.contacts-section__form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
}

.contacts-section__form input {
    padding: 19px 20px;
    background: var(--contacts-form-input-bg);
    border: 1px solid var(--border-form-color);
    border-radius: 39px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.0666;
    letter-spacing: 0.1px;
    color: var(--input-text-color);
    width: 353px;
}

.contacts-section__form textarea {
    resize: none;
    padding: 23px 20px;
    background: var(--contacts-form-input-bg);
    border: 1px solid var(--border-form-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.0666;
    letter-spacing: 0.1px;
    color: var(--input-text-color);
}

/* map */

.map {
    padding: 28px 0 28px 0;
}

.map-list {
    display: flex;
    gap: 15px;
}

.map-list__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.map-list li:nth-child(2) a {
    width: 191px;
}

.map img {
    margin: 50px auto;
}

.contacts-section__social-links {
    display: flex;
    gap: 24px;
}

.contacts-section__form-map-wrap svg {
    fill: var(--primary-blue-color);
}

/* footer */

.footer-section {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--primary-gray-color);
}

.footer-section__wrap {
    display: flex;
    justify-content: space-around;
    color: var(--white-color);
}

.footer-section__links-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--white-color);
    margin-bottom: 35px;
}

.footer-section__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contacts__list a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.2px;
    color: var(--white-color);
    display: flex;
    align-items: center;
}

.footer-contacts__list svg {
    fill: var(--white-color);
}

.footer-contacts__list li:nth-of-type(1) svg,
.footer-contacts__list li:nth-of-type(2) svg {
    margin-right: 8px;
}

.footer-social__list {
    display: flex;
    gap: 20px;
}