.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 245px 0;
}

.hero-container {
    max-width: 765px;
    margin: auto;
}

.hero__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 17px;
}

.hero__undertitle {
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 80px;
}

@media (min-width: 1200px) {
    .hero__title {
        font-weight: 700;
        font-size: 74px;
        line-height: 1.1351;
    }
}