.pricing-section {
    background-color: var(--primary-gray-color);
}

.pricing-container__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    margin-bottom: 27px;
}

.pricing-container__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 552px;
    margin-bottom: 90px;
}

.pricing-container__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.pricing-container__item {
    background: var(--white-color);
    border: 1px solid var(--border-pricing-item-color);
    box-shadow: 0px 4px 4px var(--shadow-pricing-item);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 335px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.pricing-container__item>p:first-of-type {
    max-width: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.pricing-container__item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
    margin-bottom: 3px;
}

.pricing-container__digit-section {
    display: flex;
    margin-bottom: 40px;
}

.pricing-container__item-digit {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.1351;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-right: 10px;
}

.pricing-container__digit-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-container__digit-section-text p:first-of-type {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: var(--primary-gray-color);
}

.pricing-container__features-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {}

@media (min-width: 900px) {
    .pricing-container__item {
        padding: 20px;
    }

    .pricing-button {
        padding: 16px 58px;
    }

    .pricing-container__list {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1280px) {
    .pricing-button {
        padding: 16px 62px;
    }
}