.testimonials-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 987px;
    margin: auto;
}

.testimonials-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 90px;
}

.testimonials-section__undertitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4285;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--secondary-gray-color);
    margin-top: 50px;
    margin-bottom: 60px;
}

.testimonials-section__comments-wrap {
    display: flex;
    margin-bottom: 80px;
}

.testimonials-section__comments-text-wrap {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials-section__comments-text-wrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.testimonials-section__comments-text-wrap p:last-of-type {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8666;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
}

.testimonials-button {
    margin: auto;
}