.testimonials-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 987px;
    margin: auto;
}

.testimonials-section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
    margin-bottom: 90px;
}

.testimonials__imb-logo {
    max-width: 150px;
}

.testimonials-section__undertitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13.5256px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.16907px;
    max-width: 380px;
    color: var(--secondary-gray-color);
    margin-top: 50px;
    margin-bottom: 60px;
}

.testimonials-section__comments-wrap {
    display: flex;
    margin-bottom: 80px;
}

.testimonials-section__comments-text-wrap {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 181px;
}

.testimonials__image {
    max-width: 50px;
}

.testimonials__dude {
    display: none;
}

.testimonials-section__comments-text-wrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4375;
    letter-spacing: 0.1px;
    color: var(--secondary-gray-color);
}

.testimonials-section__comments-text-wrap p:last-of-type {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8666;
    letter-spacing: 0.2px;
    color: var(--primary-gray-color);
}

.testimonials-button {
    margin: auto;
    display: block;
}

@media (min-width: 900px) {

    .testimonials-section__undertitle {
        font-family: inherit;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.4285;
        max-width: none;
        letter-spacing: 0.2px;
    }

    .testimonials__dude {
        display: block;
    }

    .testimonials__girl {
        display: none;
    }
}