@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikRegular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.section {
    padding: 30px 0;
}

.container {
    margin: auto;
    max-width: 390px;
}

.button {
    background-color: var(--primary-blue-color);
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 16px 62px;
    cursor: pointer;

    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

@media (min-width: 768px) {

    .container {
        max-width: 740px;
    }
}

@media (min-width: 900px) {
    .section {
        padding: 50px 0;
    }

    .container {
        max-width: 860px;
    }
}

@media (min-width: 1280px) {

    .container {
        max-width: 1200px;
    }
}